## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,82.20,65,86,16.04,overcast clouds
1,1,Kavieng,PG,-2.5744,150.7967,82.54,67,100,13.33,overcast clouds
2,2,Saint Cloud,US,45.5608,-94.1625,75.74,78,100,9.22,overcast clouds
3,3,Bluff,NZ,-46.6000,168.3333,44.28,80,84,10.83,broken clouds
4,4,Severo-Kurilsk,RU,50.6789,156.1250,48.88,80,12,10.89,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Saint Cloud,US,45.5608,-94.1625,75.74,78,100,9.22,overcast clouds
5,5,Yatou,CN,37.1500,122.3833,65.53,92,20,5.86,few clouds
6,6,Saint-Philippe,RE,-21.3585,55.7679,69.39,86,60,15.03,light rain
10,10,Vaini,TO,-21.2000,-175.2000,75.36,83,20,4.61,few clouds
11,11,Puerto Del Rosario,ES,28.5004,-13.8627,76.75,69,20,23.02,few clouds
13,13,Avarua,CK,-21.2078,-159.7750,77.05,69,20,19.57,few clouds
14,14,Dekar,BW,-21.5333,21.9333,67.60,14,0,9.01,clear sky
15,15,Puerto Ayora,EC,-0.7393,-90.3518,76.96,86,100,7.00,overcast clouds
17,17,Alcanena,PT,39.4590,-8.6689,76.91,99,26,7.16,scattered clouds
23,23,Rikitea,PF,-23.1203,-134.9692,72.45,68,0,11.97,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                194
City                   194
Country                194
Lat                    194
Lng                    194
Max Temp               194
Humidity               194
Cloudiness             194
Wind Speed             194
Current Description    194
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Saint Cloud,US,45.5608,-94.1625,75.74,78,100,9.22,overcast clouds
5,5,Yatou,CN,37.1500,122.3833,65.53,92,20,5.86,few clouds
6,6,Saint-Philippe,RE,-21.3585,55.7679,69.39,86,60,15.03,light rain
10,10,Vaini,TO,-21.2000,-175.2000,75.36,83,20,4.61,few clouds
11,11,Puerto Del Rosario,ES,28.5004,-13.8627,76.75,69,20,23.02,few clouds
...,...,...,...,...,...,...,...,...,...,...
547,547,Banda Aceh,ID,5.5577,95.3222,78.85,83,53,11.12,light rain
548,548,Shimoda,JP,34.6667,138.9500,73.11,82,100,11.97,overcast clouds
551,551,Yorosso,ML,12.3536,-4.7761,77.11,76,14,4.03,few clouds
552,552,Nador,MA,35.1740,-2.9287,75.45,57,0,5.75,clear sky
553,553,Vaitape,PF,-16.5167,-151.7500,77.97,73,86,23.35,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Saint Cloud,US,75.74,overcast clouds,45.5608,-94.1625,
5,Yatou,CN,65.53,few clouds,37.1500,122.3833,
6,Saint-Philippe,RE,69.39,light rain,-21.3585,55.7679,
10,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,
11,Puerto Del Rosario,ES,76.75,few clouds,28.5004,-13.8627,
13,Avarua,CK,77.05,few clouds,-21.2078,-159.7750,
14,Dekar,BW,67.60,clear sky,-21.5333,21.9333,
15,Puerto Ayora,EC,76.96,overcast clouds,-0.7393,-90.3518,
17,Alcanena,PT,76.91,scattered clouds,39.4590,-8.6689,
23,Rikitea,PF,72.45,clear sky,-23.1203,-134.9692,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Saint Cloud,US,75.74,overcast clouds,45.5608,-94.1625,Homewood Suites by Hilton St Cloud
5,Yatou,CN,65.53,few clouds,37.1500,122.3833,GreenTree Hotel Rongcheng Bus Station
6,Saint-Philippe,RE,69.39,light rain,-21.3585,55.7679,Le four à pain
10,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort
11,Puerto Del Rosario,ES,76.75,few clouds,28.5004,-13.8627,Hotel JM Puerto del Rosario
13,Avarua,CK,77.05,few clouds,-21.2078,-159.7750,Paradise Inn
14,Dekar,BW,67.60,clear sky,-21.5333,21.9333,
15,Puerto Ayora,EC,76.96,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
17,Alcanena,PT,76.91,scattered clouds,39.4590,-8.6689,EUROSOL ALCANENA
23,Rikitea,PF,72.45,clear sky,-23.1203,-134.9692,People ThankYou

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))